# ДЗ 8. Часть 2. ML для бизнеса

__8.__ [(в отдельном ноутбуке!) Загрузите ваш отложенный на шаге 1 датасет и сохраненные ранее файлы и сделайте прогноз моделью.](#task08)

__9.__ [Посчитайте метрики качества и сделайте выводы о том, насколько прогнозы (качество) на «новых» данных отличаются от того, что вы видели на cross-validation. Если будут очень серьезные отличия, то подумайте, где вы ошиблись и как это можно поправить.](#task09)

__10.__ [Бонусный вопрос: у вас есть на выбор два варианта разделения вашего исходного датасета - на train/test и на train/test/val. Подумайте, в каких ситуациях предпочтительнее один или второй вариант либо всегда лучше какой-то один? Какой бы выбрали вы?](#task10)

In [1]:
import pandas as pd
import pickle
import dill
dill._dill._reverse_typemap['ClassType'] = type
import cloudpickle

from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.metrics import roc_auc_score,roc_curve,scorer
from sklearn.metrics import f1_score

from sklearn.base import BaseEstimator, TransformerMixin

/Users/artem/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

## Задание 8 <a class='anchor' id ='task08'></a>

Загрузите ваш отложенный на шаге 1 датасет и сохраненные ранее файлы и сделайте прогноз моделью.

In [4]:
x_test = pd.read_csv("x_valid.csv", sep=';')
y_test = pd.read_csv("y_valid.csv", sep=';')
x_test.head(3)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend
0,4,59.500000,2,662.0,31,1586.154762,0.016667,0.037334,0.00000,0.0,Nov,1,1,1,2,Returning_Visitor,False
1,4,208.888889,4,134.0,37,1335.809127,0.024242,0.038461,6.06233,0.0,Dec,1,1,6,1,Returning_Visitor,False
2,0,0.000000,0,0.0,24,743.750000,0.000000,0.016667,0.00000,0.0,Dec,2,2,2,2,New_Visitor,True

In [7]:
y_test

      Revenue
0           0
1           0
2           0
3           0
4           0
...       ...
2238        0
2239        0
2240        0
2241        0
2242        0

[2243 rows x 1 columns]

Загрузим модель:

In [8]:
with open('model_trained_clf.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [10]:
from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

def evaluate_results(y_test, y_predict):
    #print('Classification results:')
    f1 = f1_score(y_test, y_predict)
    f1_w = f1_score(y_test, y_predict, average='weighted')
    #print("f1: %.2f%%" % (f1 * 100.0)) 
    roc = roc_auc_score(y_test, y_predict)
    #print("roc: %.2f%%" % (roc * 100.0)) 
    rec = recall_score(y_test, y_predict, average='binary')
    #print("recall: %.2f%%" % (rec * 100.0)) 
    prc = precision_score(y_test, y_predict, average='binary')
    #print("precision: %.2f%%" % (prc * 100.0)) 
    
    item = {'f1':f1, 'roc':roc, 'rec':rec,'prc':prc}
    
    return item

In [18]:
pipeline.fit(x_test, y_test.values.ravel())
preds = pipeline.predict(x_test)

## Задание 9 <a class='anchor' id='task09'></a>

Посчитайте метрики качества и сделайте выводы о том, насколько прогнозы (качество) на «новых» данных отличаются от того, что вы видели на cross-validation. Если будут очень серьезные отличия, то подумайте, где вы ошиблись и как это можно поправить.

In [19]:
ev = evaluate_results(y_test, preds)
ev

{'f1': 0.7142857142857143,
 'roc': 0.7995347024106586,
 'rec': 0.6347438752783965,
 'prc': 0.8166189111747851}

На отложенной выборке результат получился даже лучше, чем на тестовой (лучший f1 был 0.659 вместо 0.71 здесь). Вероятно, разумнее будет всё-таки настраиваться на более пессимистичные результаты, полученные кросс-валидацией на трейн-выборке, даже несмотря на то, что на валидационной результаты получились лучше.

Для улучшения качества моделей ещё остаётся незадействованный ресурс - балансировка выборки. Все модели использовались на несбалансированной выборке, и, вероятно, это немного ухудшило качество моделей

## Задание 10 <a class='anchor' id='task10'></a>

Бонусный вопрос: у вас есть на выбор два варианта разделения вашего исходного датасета - на train/test и на train/test/val. Подумайте, в каких ситуациях предпочтительнее один или второй вариант либо всегда лучше какой-то один? Какой бы выбрали вы?

* По умолчанию мне кажется предпочительным вариант с делением на train/test/val, т.к. он в большей степени защищает нас от переобучения и прочих ошибок
* Тем не менее, вероятно, есть случаи, когда такое деление будет нежелательно, например, когда мы имеем дело с очень небольшой выборкой, и изъятие из неё дополнительной отложенной выборки, сильно повлияет на возможность обучить хорошую модель